.app {
  display: flex;
  flex-direction: column;
  color: #000000;
  padding: 10px 30px;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #2f2f37;
}

::-webkit-scrollbar-thumb {
  border: 2px solid #fc411e;
  background: #fc411e;
}

.detailPageWrap {
  margin: 120px auto;
}

.detailHeader {
  text-align: center;
}

@media screen and (width <= 1024px) {
  .app {
    padding: 10px 0;
  }
}
