.button {
  width: 110px;
  border-radius: 10px;
  color: #000;
  background: white;
  border: 1px solid #575757;
  text-transform: uppercase;
  padding: 5px 15px;
  font-size: clamp(0.375rem, 0.2083rem + 0.7111vw, 0.875rem);
  margin: 0 5px 0 0;
  font-family: cursive;
}

.button:hover {
  background: #fc411e;
  color: white;
  border: 1px solid #fc411e;
}

.button:active {
  background: #fc411e;
  color: white;
  border: 1px solid #fc411e;
  transform: scale(1.05);
}

.button:focus-visible {
  background: #fc411e;
  color: white;
  border: 1px solid #fc411e;
  box-shadow: 0 0 0.25rem #fc411e;
  outline: 1px solid white;
}

.active {
  background: #fc411e;
  color: white;
  border: 1px solid #fc411e;
}

.disabled {
  pointer-events: none;
  background: #575757;
  color: white;
  border: 1px solid #575757;
}

@media screen and (width <= 780px) {
  .button {
    width: 75px;
  }
}

@media screen and (width <= 430px) {
  .button {
    width: 65px;
  }
}
