.navbar {
    background: #F7F7F7;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.nav {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.link {
    text-decoration: none;
    color: #FC411E;
}