.card {
    height: 650px;
    width: 650px;
    border-radius: 11px;
    /* border: 1px solid #000; */
    /* outline: 1px solid #000; */
    box-shadow: 4px 3px 8px 2px rgba(87, 87, 87, 0.39);
    font-family: sans-serif;
}

.imageContainer {
    display: flex;
    flex-direction: column;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    display: inline-block;
    border-radius: 10px;
    height: 250px;

    /* position: relative;
    z-index: 1; */
}

/* .img::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background-color: black;
    z-index: 2;
} */

.totalNumber {
    background: #FC411E;
    border-radius: 5px;
    min-width: 20%;
    align-self: flex-end;
    margin: -40px 10px 0 0;
    padding: 5px;
    font-size: 12px;
    color: #fff;
    /* box-shadow: -1px 0px 13px -3px rgba(255, 255, 255, 0.84); */
}

.contentSection {
    padding: 25px 15px 15px;
}

.title {
    font-weight: 800;
    font-size: 22px;
}

.text {
    font-size: 16px;
    margin: 0;
}

.textbox {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px 0;
}

.subtitle {
    font-size: 16px;
    font-weight: 800;
}