.button {
    background: var(--accent-color);
    border: none;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    transition: all 0.3s ease;
}

.button:hover {
    opacity: 85%;
    transform: scale(1.02);
}

.button:active {
    opacity: 60%;
}

.disabled {
    pointer-events: none;
    background: var(--grey);
}

.white {
    background: var(--light-grey);
}