body {
  margin: 0 auto;
  background: #F8F9FA;
  background-size: 500% 500%;
  /* animation: bg-gradient 40s ease infinite; */
  max-width: 1500px;
  box-sizing: border-box;
}

/* @keyframes bg-gradient {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
} */
